@media(min-width: 1200px) and (max-width: 1399px){
    .header-left {
        justify-content: space-between;
    }
    .header-right {
        justify-content: space-between;
    }
    .publish {
        padding: 6px 7px;
    }
    .menu-bg ul li {
        padding: 0 5px;
    }
    .menu-bg ul li a{
        font-size: 16px;
    }
    .navbar-icon i {
        margin: 0 5px;
    }
    .banner-item .aa4 {
        font-size: 14px;
    }
    .banner-bottom {
        width: 260px;
    }
    .tender-item {
        width: 270px;
        height: 285px;
    }
    .tender-text p {
        width: 230px;
    }
    .about-text p {
        width: 1109px;
    }
    .choose-item {
        width: 370px;
    }
    .choose-text p {
        width: 350px;
    }
    .ftr-left p {
        width: 328px;
    }
    iframe {
        width: 280px;
    }
    iframe {
        width: 200px;
    }
    .ftr2-img {
        width: 1134px;
    }
}   
@media(min-width: 992px) and (max-width: 1199px){
    .header-left {
        flex-direction: column;
    }
    .header-right {
        justify-content: space-between;
    }
    .publish {
        padding: 0px 5px;
    }
    .publish i {
        height: 16px;
        width: 16px;
        line-height: 16px;
    }
    .publish .aa2 {
        font-size: 13px;
    }
    .navbar-brand img {
        width: 162px;
    }
    .menu-bg ul li {
        padding: 0 1px;
    }
    .menu-bg ul li a {
        font-size: 15px;
    }
    .navbar-icon i {
        margin: 0 5px;
    }
    .banner-item .aa4 {
        font-size: 12px;
    }
    #banner {
        padding: 80px 0 80px 0;
    }
    .banner-bottom {
        width: 218px;
    }
    .tender-text h3 {
        font-size: 16px;
    }
    .tender-text p {
        width: 222px;
        font-size: 14px;
    }
    .tender-item {
        height: 276px;
        width: 227px;
    }
    .about-text p {
        width: 939px;
    }
    .choose-item {
        width: 321px;
    }
    .choose-text h3 {
        font-size: 20px;
    }
    .choose-text p {
        width: 260px;
    }
    .ftr-left p {
        width: 265px;
    }
    .ftr-left h6 {
        font-size: 14px;
    }
    iframe {
        width: 225px;
    }
    .ftr2-img {
        width: 946px;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .header-left {
        flex-direction: column;
    }
    .header-right {
        justify-content: flex-start;
    }
    .header-btn i {
        margin-left: 10px;
    }
    .register i {
        margin-left: 16px;
    }
    .publish i {
        margin-left: 10px;
    }
    .publish {
        padding: 8px 28px;
    }
    .publish .aa2 {
        font-size: 16px;
    }
    .input-btn .aa3 {
        font-size: 17px;
    }
    #banner {
        padding: 70px 0 70px 0;
    }
    .banner-bottom {
        margin-top: 50px;
        width: 330px;
    }
    .tender-head h1 {
        font-size: 30px;
    }
    .tender-item {
        width: 317px;
    }
    .about-text p {
        width: 710px;
        word-spacing: 5px;
    }
    .choose-head h3 {
        font-size: 30px;
    }
    .choose-item {
        width: 330px;
    }
    .choose-text h3 {
        font-size: 25px;
    }
    .choose-text p {
        width: 312px;
    }
    iframe {
        width: 225px;
    }
    .ftr2-img {
        width: 705px;
    }
    .ftr2-icon i {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 28px;
    }
}
@media(min-width: 576px) and (max-width: 767px){
    .publish {
        padding: 5px 12px;
    }
    #banner {
        padding: 60px 0 65px 0;
    }
    .banner-bottom {
        margin-top: 40px;
        width: 238px;
    }
    .tender-head h1 {
        font-size: 30px;
    }
    .tender-item {
        width: 395px;
        padding-left: 20px;
        margin: 0 auto;
    }
    .tender-text p {
        width: 370px;
    }
    .ftr-left {
        text-align: center;
    }
    .ftr-left p {
        margin: 0 auto;
    }
    .ftr-middle {
        text-align: center;
    }
    .ftr-middle2 {
        text-align: center;
    }
    .ftr-right {
        text-align: center;
    }
    .ftr-left h3 {
        font-size: 30px;
    }
    .ftr-middle h3 {
        font-size: 30px;
    }
    .ftr-middle2 h3 {
        font-size: 30px;
    }
    .ftr-right h3 {
        font-size: 30px;
    }
    .ftr2-img {
        width: 526px;
    }
    .ftr2-icon i {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 28px;
    }
    .about-text p {
        width: 513px;
    }
}
@media(max-width: 575px){
    .header-left span {
        font-size: 15px;
    }
    .header-btn i {
        margin-left: 10px;
    }
    .register i {
        margin-left: 16px;
    }
    .publish i {
        margin-left: 15px;
    }
    .publish {
        padding: 3px 4px;
    }
    .publish .aa2 {
        font-size: 14px;
    }
    .navbar-brand img {
        width: 170px;
    }
    #banner {
        padding: 45px 0 50px 0;
    }
    .banner-bottom {
        margin: 10px auto;
    }
    .tender-head h1 {
        font-size: 22px;
    }
    .tender-item {
        margin: 0 auto;
    }
    .about-text h3 {
        font-size: 25px;
    }
    .about-text p {
        width: 326px;
    }
    .choose-item {
        margin: 0 auto;
    }
    .choose-head h3 {
        font-size: 30px;
    }
    .choose-text h3 {
        font-size: 22px;
    }
    .choose-text p {
        width: 260px;
    }
    .choose-item {
        width: 265px;
    }
    .ftr-left {
        text-align: center;
    }
    .ftr-left p {
        width: 340px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .ftr-middle {
        text-align: center;
    }
    .ftr-middle2 {
        text-align: center;
    }
    .ftr-right {
        text-align: center;
    }
    .ftr2-img {
        width: 360px;
        margin: 0 auto;
    }
    .ftr2-icon i {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 28px;
    }
    .ftr-left h3 {
        font-size: 30px;
    }
    .ftr-middle h3 {
        font-size: 30px;
    }
    .ftr-middle2 h3 {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .ftr-right h3 {
        font-size: 30px;
    }
    #log-bnr {
        padding: 30px 0;
    }
    .log-bnr-img {
        margin-bottom: 10px;
    }
}
@media(min-width: 320px) and (max-width: 380px){
    .header-left span {
        font-size: 11px;
    }
    .publish i {
        margin-left: 10px;
    }
    .about-text p {
        width: 300px;
    }
    .choose-item {
        width: 230px;
    }
    .choose-head h3 {
        font-size: 26px;
    }
    .choose-item {
        width: 240px;
    }
    .choose-text p {
        width: 230px;
    }
    .ftr-left p {
        width: 308px;
    }
    .ftr2-img {
        width: 305px;
    }
    .tender-text p {
        width: 298px;
    }
    #register {
        padding: 20px 0;
    }
    .register-text h6 {
        margin: 20px 5px;
        font-size: 16px;
    }
    .regis-btn .re-btn {
        font-size: 15px;
        padding: 5px 8px;
    }
}